@using tl2_tp10_2023_0ignacio.ViewModels
@model GetAllTablerosViewModel

<div>
    <a asp-controller="Tablero" asp-action="NewTablero">Agregar Tableros</a>
</div>
<h1>Lista de Tableros</h1>

<table>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">IdUsuarioPropietario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.TablerosVM)
        {
            <tr>
                <td>@tablero.Id</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Desc</td>
                <td>@tablero.IdUsuarioPropietario</td>
            </tr>
        }
    </tbody>
</table>