@using tl2_tp10_2023_0ignacio.ViewModels
@model GetAllTareasViewModel

<div>
    <a asp-controller="Tarea" asp-action="NewTarea">Crear tarea</a>
</div>
@if(Model.TareasVM.Count <= 0){
    <article>
        <h2>No tienes tareas asignadas</h2>
    </article>
}else{
    <h2>Tareas asignadas</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
                <th scope="col">Color</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in Model.TareasVM)
            {
                <tr>
                    <td>@tarea.Nombre</td>
                    <td>@tarea.Desc</td>
                    <td>@tarea.Estado</td>
                    <td><input type="color" value="@tarea.Color" disabled /></td>
                </tr>
            }
        </tbody>
    </table>
}