@using tl2_tp10_2023_0ignacio.ViewModels

@model UsuarioViewModel

<h2>Usuario</h2>
<div>
        <p><strong>Nombre:</strong> @Model.NombreDeUsuario</p>
        <p><strong>Rol:</strong> @Model.Rol</p>
</div>