@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Opciones de Usuarios</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="list-group">
                    <a asp-controller="Usuario" class="btn btn-primary btn-lg" asp-action="GetAllUsuarios">Listar y gestrionar usuarios</a>
                    <br/>
                    <a asp-controller="Usuario" class="btn btn-primary btn-lg" asp-action="NewUsuario">Crear Usuario</a>
                </div>
            </div>
        </div>
</div>