@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Opciones de Usuarios</h2>

    <ol>
        <li><a asp-controller="Usuario" asp-action="GetAllUsuarios">Listar y gestrionar usuarios</a></li>
        <li><a asp-controller="Usuario" asp-action="NewUsuario">Crear Usuario</a></li>
    </ol>

</div>